<div class="container">
  <h1><%=@nice_restaurant.chef_name %></h1>
  <p><%=@nice_restaurant.name %></p>
  <p><%=@nice_restaurant.category %></p>
  <%= link_to "Back to Nice Rstaurant", nice_restaurant_path(@nice_restaurant)%>
</div>
