<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Top Nice Restaurants</h1>
    <%= link_to new_nice_restaurant_path, class: 'text-dark text-decoration-none' do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
  <div class="cards">
    <%  @nice_restaurants.each do |nice_restaurant|%>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://source.unsplash.com/featured/?<%= nice_restaurant.category.downcase %>&<%= rand(1000) %>)">
        <%= link_to nice_restaurant.name, nice_restaurant_path(nice_restaurant), class: 'text-decoration-none text-white' %>
      </div>
    <% end %>
  </div>
</div>
