<div class="container">
  <h1>Add a review</h1>
  <%= simple_form_for [@nice_restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.submit class: 'btn btn-primary mt-2' %>
  <% end %>

</div>
